.form {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  margin: 50px auto;
  width: 400px;
  padding: 50px 25px;
  background: white;
  border: 1px solid black;
  z-index: 10;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
h1.login-title {
  color: #666;
  margin: 0px auto 25px;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
}
.login-input {
  font-size: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 25px;
  height: 35px;
  width: 100%;
}
.login-input:focus {
  border-color: #6e8095;
  outline: none;
}
.login-button {
  color: #fff;
  background: #55a1ff;
  border: 0;
  outline: 0;
  width: 100%;
  height: 50px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  /* vertical-align: baseline; */
}
.link {
  margin-top: 15px;
  color: #666;
  margin-bottom: 0px;
}
.link a {
  color: #666;
}
h3 {
  font-weight: normal;
  text-align: center;
}
form {
  text-align: center;
}
p {
  text-align: center;
}
.formBtn {
  font-size: 1.1em;
}
#changePassTop {
  top: 20%;
}
