h2 {
  display: inline-block;
}
form div {
  margin: 10px;
}
form div button {
  margin: 0 5px 0 5px;
}
#weightTop {
  font-weight: 400;
}
.photoDescription {
  font-weight: 400;
}
.leftP {
  float: right;
  transform: translateY(3px);
}
.photoBox,
.header {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  width: 60%;
  display: block;
  margin: 2% auto;
  border: 1px solid black;
  background-color: white;
}
.img {
  min-height: 100px;
  max-height: 700px;
  overflow: hidden;
}
.userType {
  display: block;
  text-align: center;
}
.userName {
  margin: 5px 0 0 0;
}
.uploadPhotoFormDiv {
  display: none;
  margin-top: 20px;
  margin-bottom: 240px;
}
.uploadPhotoForm {
  background-color: white;
  position: absolute;
  text-align: center;
  padding: 20px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}
.uploadButton {
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.inputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputFile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -5;
}
.comment {
  margin: 10px;
}
.comm {
  cursor: pointer;
  text-decoration: none;
}
.top {
  margin: 10px;
}
.titlePost {
  width: 60%;
}
.header form {
  text-align: center;
}
.commForm {
  display: none;
  margin: 10px;
}
.commForm .btn {
  margin-top: 10px;
}
.cancel {
  margin-left: 10px;
}
.commTag {
  margin: 10px;
  display: block;
}
