#main {
  position: absolute;
  z-index: 6;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border-bottom: 1px solid black;
}
.imgLogo {
  height: 20px;
  width: auto;
  transform: scale(2.5, 2.5);
  margin-left: 10px;
}
