button:focus {
  outline: 0;
}
.navbar .dropdown-menu .form-control {
  width: 200px;
  display: block;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}
