body {
  text-align: center;
}
.btnProfile {
  width: 90%;
  height: 50px;
}
.profilePic {
  height: 100px;
  width: 100px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  transform: translateX(5px);
}
.midDiv {
  transform: translateX(-50%);
}
.hide {
  display: none;
}
.adminBtn {
  width: calc(45% - 11px);
}
.adminBtn:first-child {
  margin-right: 8.5px;
}
.adminBtn:last-child {
  margin-left: 8.5px;
}
.fix {
  line-height: 35.5px;
}
.admin {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.profileForm {
  display: block;
  margin: 0 auto;
  background-color: white;
  width: 30%;
  padding-top: 25px;
  border: 1px solid black;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}
.userForm {
  position: absolute;
  margin: -0.6% auto;
}
.profilePhotoBox {
  margin: 2% auto;
  width: 60%;
  background-color: white;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  border: 1px solid black;
}
.profilePhotoBoxDiv {
  display: none;
}
.top {
  display: grid;
  grid-template-columns: 70% auto;
}
.h6:first-child {
  text-align: left;
}
.h6:last-child {
  text-align: end;
}
.h6 {
  margin: 10px;
}
#yn {
  display: none;
}
.commTag {
  display: block;
  margin: 10px;
}
.commTag:first-child {
  margin-top: 0;
}
.btn_ {
  display: block;
  transform: scale(0.6, 0.6);
}
.fix_ {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
