<link rel="stylesheet" href="../style/form.css" />
<link rel="stylesheet" href="../style/style.css" />
<form style="top: 10%;" id="changePassTop" class="form rounded" action="../components/changePass.php" method="post">
    <h1 class="login-title">Change Password</h1>
    <input type="password" class="login-input" name="oldPassword" placeholder="Old Password" required>
    <input type="password" class="login-input" name="newPassword" placeholder="New Password" required>
    <input type="password" class="login-input" name="confirmPassword" placeholder="Confirm New Password" required>
    <input type="submit" name="submit" value="Change Password" class="login-button btn btn-outline-danger">
    <br>
    <br>
    <a style="width: 100%; line-height: 35.5px; font-size: 16px;" class="btn btn-outline-success back-btn" href="../userPage.php">Back</a>
</form>
<div class="overlay"></div>
