<link rel="stylesheet" href="../style/form.css" />
<link rel="stylesheet" href="../style/style.css" />
<form style="top: 10%;" id="changePassTop" class="form rounded" action="" method="post">
    <h1 class="login-title">Change Profile Picture</h1>
    <input type="submit" name="submit" value="Chose Picture" class="login-button btn btn-outline-danger">
    <br>
    <br>
    <input type="submit" name="submit" value="Upload Picture" class="login-button btn btn-outline-danger">
    <br>
    <br>
    <a style="width: 100%; line-height: 35.5px; font-size: 16px;" class="btn btn-outline-success back-btn" href="../userPage.php">Back</a>
</form>
<div class="overlay"></div>
