<form class="form rounded" method="post" name="login">
    <h1 class="login-title">Login</h1>
    <input type="text" class="login-input" name="username" placeholder="Username" autofocus="true" />
    <input type="password" class="login-input" name="password" placeholder="Password" />
    <input type="submit" value="Login" name="submit" class="btn btn-outline-primary login-button" />
    <p class="link"><a class="formBtn" href="homeRegistration.php">Register Now!</a></p>
</form>
