<link rel="stylesheet" href="style/navbar.css" />
<nav id="main" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"
      ><img
        class="imgLogo"
        src="https://static.thenounproject.com/png/92732-200.png"
    /></a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link d-flex justify-content-center" href="homeLogin.php"
            >Login</a
          >
        </li>
        <li class="nav-item d-flex justify-content-center">
          <a class="nav-link" href="aboutPage.php">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div style="margin-top: 80px"></div>
