<!-- Gallery -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 mb-4 mb-lg-0 index">
      <img
        src="assets/img-7.jpg"
        class="w-100 h-auto shadow-1-strong rounded mb-4"
        alt=""
      />
      <img
        src="assets/img-8.jpg"
        class="w-100 h-auto shadow-1-strong rounded mb-4"
        alt=""
      />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0 index">
      <img
        src="assets/img-9.jpg"
        class="w-100 h-auto shadow-1-strong rounded mb-4 missing"
        alt=""
      />
      <!-- <img
        src="assets/img-4.jpg"
        class="w-100 h-auto shadow-1-strong rounded mb-4"
        alt=""
      /> -->
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0 index">
      <img
        src="assets/img-10.jpg"
        class="w-100 h-auto shadow-1-strong rounded mb-4"
        alt=""
      />
      <img
        src="assets/img-11.jpg"
        class="w-100 h-auto shadow-1-strong rounded mb-4"
        alt=""
      />
    </div>
  </div>
  <style>
    .index {
      z-index: -10;
    }
    @media screen and (max-width: 1239px) {
      .missing {
        display: none;
      }
    }
    @media screen and (min-width: 1240px) {
      .missing {
        display: none;
      }
    }
  </style>
</div>
