<form class="form rounded" action="" method="post">
    <h1 class="login-title">Registration</h1>
    <input type="text" class="login-input" name="username" placeholder="Username" required />
    <input type="email" class="login-input" name="email" placeholder="Email Address" required>
    <input type="password" class="login-input" name="password" minlength="5" placeholder="Password" required>
    <input type="password" class="login-input" name="confirmPassword" placeholder="Confirm Password" required>
    <input type="submit" name="submit" value="Register" class="login-button btn btn-outline-primary">
    <p class="link"><a class="formBtn" href="homeLogin.php">Back to Login</a></p>
</form>